.enroll_now{
    text-align:center;
    padding:0px 0px 20px 0px;
    background-color:#ffffff;   
  }
  .textfield_mobile{
    width:100%;
    margin:5px 0px;
  }
  .textfield_button{
    width:100%;
  }